@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.search {
	position: relative;
	width: 0px;
	height: 44px;
	background: $gray-color;

	padding-right: 44px;
	border-radius: 100px;
	transition: all 0.5s ease;

	input {	
		border: none;
		background: transparent;
		width: 0%;
		outline: none;
		font-family: sans-serif;
		font-size: 18px;
		color: #fff;
		transition: all 0.3s ease;
		position: relative;

		&.active  {
			width: 100%;
			padding-left: 5px;
			transition: all 0.5s 0.8s ease;
		}
		&::placeholder {
			color: #BABABA;
			opacity: .2;
		}
	}
	button{
		color: #BABABA;
		position: absolute;
		right: 11px;
		top: 11px;
		font-size: 22px;
		cursor: pointer;

		svg {
			color: #ff0000;
		}
	}

	&.active{
		width: 250px;
		padding-left: 25px;
		transition: all 0.5s ease;
	}
}
