@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 52px 32px 52px 32px;
	gap: 44px;

	@include desktopXS {
		padding: 28px 16px 144px 28px;
		gap: 0px;
	}

	.socialContainer {
		display: flex;
		justify-content: space-between;
		
		@include tabletL {
			flex-direction: column;
			gap: 20px;

			.btnWrapper {
				button {
					min-width: 100%;
				}
			}
		}

		

		.socialLinkContainer {
			display: flex;
			gap: 24px;
			align-items: center;
			text-align: center;
			color: $gray-color;
			@include tabletL {
				flex-direction: column;
			}
		}

		.socialLinkWrapper {
			display: flex;
			gap: 4px;
			text-align: center;
			align-items: center;
			

			span {
				font-size: 14.3px;
				line-height: 3px;
			}

		}

	}
	.contactsContainer {
		border-bottom: 1px solid white;
		padding: 26px;
		@include tabletXL {
			padding: 26px;
		}

		ul {
			display: flex;
			justify-content: space-around;
			gap: 24px;
			align-items: center;

			@include tabletXL {
				flex-direction: column;
			}

			li {

			}
		}
	}
	.copyrightContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $gray-color;

		@include tabletL {
			padding: 40px;
			flex-direction: column;
			gap: 28px;
		}

		p {
			font-size: $fz-xs-adaptive;
		
			@include tabletL {
			
				order: 1;
			}
		}
		.logoWrapper {

	
		}
	}
}