@import 'assets/styles/variables';
@import 'assets/styles/mixins';

@mixin dot() {
  &:before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: clamp(-0.813rem, -0.3rem + -0.85vw, -0.5rem);
		z-index: 99;
		background: hsla(0,0%,100%,.3);
		height: 4px;
		width: 4px;
		border-radius: 50%;
	}
}

.sliderCard {
	position: relative;
	overflow: hidden;
	align-items: center;
	width: 100%;
	height: clamp(18.75rem, 6.731rem + 51.28vw, 37.5rem);
	margin-left: clamp(-2rem, -0.359rem + -2.74vw, -1rem);

	&:before {
		content: "";
    position: absolute;
		inset: 0 55% 0 0;
    z-index: 1;
    border-radius: 0;
    background: linear-gradient(90deg,#09090c 65%,transparent);
		
		@include desktopXS {
			display: none;
		}
	}


	.imgWrapper {
		position: absolute;
		width: 100%;
    height: 100%;

		&:before, &:after {
			content: "";
			position: absolute;
			display: block;
			inset: 0px;
			z-index: 1;
		}

		&:before {
			bottom: 80%;
			background: linear-gradient(180deg,#09090c,transparent);
		}

		&:after {
			top: 50%;
			background: linear-gradient(0deg,#09090c 24px,transparent);
		}

		img {
			position: absolute;
			inset: 0px;
			width: 75%;
			height: clamp(18.75rem, 6.731rem + 51.28vw, 37.5rem);
			margin-left: auto;
			object-fit: cover;
			
			@include desktopXS {
				width: 100%;
			}

		}
	}
	.content {
		position: absolute;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		gap: clamp(0.75rem, 1.16rem + -0.68vw, 1rem);
		width: 100%;
		height: auto;
		z-index: 1;
		padding: 0px $indentationX;
	
		.imgLogoWrapper {
			display: flex;
			flex-direction: column;
			justify-content: start;
			z-index: 1;
			
			div {
				max-width: clamp(11rem, 4.51rem + 27.69vw, 21.125rem);
				height: auto;
				
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	
		.text {
			display: flex;
			align-items: center;
			gap: clamp(0.75rem, 0.429rem + 1.37vw, 1.25rem);
			justify-content: start;

			span {
				border-radius: 10px;
				padding: 5px 5px;
				background-color: $blue-color;
			}
	
			span,p {
				font-size: $fz-md-adaptive;
				position: relative;
				
	
				&:not(:last-child) {
					@include dot();
				}
			}
			
		}
	
		.btnWrapper {
			display: flex;
			gap: 8px;
			button {
				font-size: 18px;
				padding: 12px 20px;
				min-width: 0px;
				border-radius: 16px;

				&:first-child {
					width: 260px;
					border-radius: 12px;
				}
			}
			@include desktopXS {
				display: none;
			}
		}
	}
}




