@import 'assets/styles/variables';
@import 'assets/styles/mixins';

@mixin dot() {
  &:before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: clamp(-0.813rem, -0.3rem + -0.85vw, -0.5rem);
		z-index: 99;
		background: hsla(0,0%,100%,.3);
		height: 4px;
		width: 4px;
		border-radius: 50%;
	}
}

.sliderCard {
	position: relative;
	overflow: hidden;
	align-items: center;
	height: clamp(18.75rem, 6.731rem + 51.28vw, 37.5rem);

	&:before {
		content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 55%;
    z-index: 1;
    border-radius: 0;
    background: linear-gradient(90deg,#09090c 65%,transparent);
	}

	@include desktopXS {
		&:before {
			display: none;
		}
	}

	.imgWrapper {
		position: absolute;
		width: 100%;
    height: 100%;

		&:before, &:after {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}

		&:before {
			bottom: 80%;
			background: linear-gradient(180deg,#09090c,transparent);
		}

		&:after {
			top: 50%;
			background: linear-gradient(0deg,#09090c 24px,transparent);
		}

	

		img {
			position: absolute;
			width: 75%;
			height: clamp(18.75rem, 6.731rem + 51.28vw, 37.5rem);
			margin-left: auto;
			object-fit: cover;
			inset: 0px;


			@include desktopXS {
				width: 100%;
			}

		}
	}
	.content {
		position: absolute;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 65%;
		height: auto;
		z-index: 1;
		padding: 0px 64px;
	
		.imgLogoWrapper {
			display: flex;
			flex-direction: column;
			z-index: 1;
		
			div {
				max-width: 338px;
				height: auto;
				
				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
				}
			}
		}
	
		.text {
			display: flex;
			align-items: center;
			gap: clamp(0.75rem, 0.429rem + 1.37vw, 1.25rem);
			justify-content: start;
	
			span {
				border-radius: 10px;
				padding: 5px 5px;
				background-color: $blue-color;
			}
	
			span,p {
				position: relative;
				font-size: $fz-text;
	
				&:not(:last-child) {
					@include dot();
				}
			}
			
		}
	
		.buttonWrapper {
			display: flex;
			gap: 16px;

			@include desktopXS {
				display: none;
			}
		}

		@include desktopXS {
			padding: 0px clamp(1rem, 0.359rem + 2.74vw, 2rem)
		}
	}

	
}




