@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.wrapper {
	max-width: 100%;

	.block {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 24px;
		box-shadow: 0px 0px 33px 0px rgba(255, 255, 255, 0.38) inset;
		overflow: hidden;

		@include tabletL {
			flex-direction: column;
		}

		&:after {

		}
		&:before {

		}

		
		.firstContent {
			display: flex;
			flex-direction: column;
			padding: clamp(1.25rem, 0.449rem + 3.42vw, 2.5rem);
			gap: 32px;
			
			.title {
				font-size: $fz-heading-md-adaptive;
				font-weight: 700;
			}

			.list {
				display: grid;
				grid-template-columns: max-content max-content;
				gap: 12px 28px;
				
				li {
					display: flex;
					gap: 8px;
					align-items: self-start;
					text-align: center;
				}

				@include desktopXS {
					grid-template-columns: none;
				}
			}

			.btnWrapper {
				max-width: 100%;

				button {
					min-width: 50%;
				}
			
				@include tabletL {
					display: flex;
					justify-content: center;
				}
			}

			@include tabletL {
				width: 100%;
			}
		}

		.lastContent {
			position: relative;
			display: flex;
			
			ul {
				display: grid;
				grid-template-areas: "a a a . " ".  b b b" "c c c . ";
				text-align: center;
				gap: 50px 0px;
				margin-right: 200px;

				@include tabletL {
					grid-template-areas: "a a a . . " ". . b b b" "c c c . .";
					gap: 25px 0px;
					margin: 0;
				}

				li {
					padding: 10px 16px;
					border-radius: 100px;
					box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.38) inset;
					font-size: 12px;
					&:nth-child(even){
						transform: rotate(20deg);
					}
					&:nth-child(odd){
						transform: rotate(340deg);
					}
				}
				.first {
					grid-area: a;
				}
				.second {
					grid-area: b;
				}
				.third {
					grid-area: c;
				}
				@include tabletL {
					padding-left: clamp(1.25rem, 0.475rem + 3.31vw, 2.063rem);
					padding-top: clamp(1.25rem, 0.475rem + 3.31vw, 2.063rem);
					padding-bottom: clamp(1.25rem, 0.475rem + 3.31vw, 2.063rem);
				}
			}
			.imgWrapper {
				position: absolute;
				right: 0;
				bottom: -120px;
				max-width: 100%;
				height: 350px;
				transform: rotate(340deg);
				
				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}

				@include tabletL {
					height: 240px;
					bottom: -40px;
					transform: rotate(330deg);
				}
			}

			@include tabletL {
				width: 100%;
			}
		}
	}
}