@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
	box-sizing: border-box;

}

html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
	color: $white-color;
	background-color: $dark-color;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	margin: 0px $indentationX;
}

section {
	margin-top: $indentationTop;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
	cursor: pointer;
	outline: 2px solid transparent;
  outline-offset: 2px;
	
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

// [class="displayNone"] {
// 	display: none;
// }


.slick-dots {
  li button:before,
  li.slick-active button:before {
    color: transparent;
    opacity: 1;
  }
  li button:before{
    background-color: $gray-color;
    border-radius: 50%;
    display: inline-block;
    height: 9px;
    width: 9px;

  }
  li.slick-active button:before {
    background-color: $purple-color;
  }
}

@font-face {
  font-family: 'icons';
  src:  url('../../../public/fonts/icons.eot?qay6uz');
  src:  url('../../../public/fonts/icons.eot?qay6uz#iefix') format('embedded-opentype'),
				url('../../../public/fonts/icons.ttf?qay6uz') format('truetype'),
				url('../../../public/fonts/icons.woff?qay6uz') format('woff'),
				url('../../../public/fonts/icons.svg?qay6uz#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-film:before {
  content: "\e902";
}
.icon-flag:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e906";
}
.icon-magnifier:before {
  content: "\e907";
}
.icon-membrane:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-present:before {
  content: "\e90a";
}
.icon-profile:before {
  content: "\e90b";
}
.icon-star:before {
  content: "\e90c";
}
.icon-super:before {
  content: "\e90d";
}
.icon-text:before {
  content: "\e90e";
}
.icon-tg:before {
  content: "\e90f";
}
.icon-tv:before {
  content: "\e910";
}
.icon-vk:before {
  content: "\e911";
}
.icon-youtube:before {
  content: "\e912";
}
