

// color
$purple-color: #6a11cb;
$background-color: #09090c;
$blue-color: #2674fb;
$white-color: #fff;
$gray-color: rgba(255, 255, 255, 0.1);
// fonts
$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-text: clamp(1rem, 0.84rem + 0.68vw, 1.25rem);

// theme
$mobileM: 375px;
$mobileL: 480px;
$tabletS: 600px;
$tabletL: 768px;
$desktopXS: 960px;

// element-sizes & animation
$border-radius: 4px;
$nav-height: 100px;
$nav-scroll-height: 70px;
$tab-height: 42px;
$tab-width: 120px;
$easing: cubic-bezier(0.645,0.045,0.355,1);
$transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);


@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heart-burst {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;

	}
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


