@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.newMoviesSliderCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 12px;
	margin-right: clamp(0.5rem, 0.019rem + 2.05vw, 1.25rem);

	.imgWrapper {
		position: relative;
    padding: 16px 16px 140%;
		align-items: center;
		img {
			object-fit: cover;
			border-radius: 24px;
			object-position: top center;
		}

		.imgWrapperContent {
			display: flex;
			text-align: center;
			align-items: center;
			gap: 5px;
			position: absolute;
			top: 0;
			left: 0;
			padding: 20px 20px;

			.rating{
				width: fit-content;
				background-color: $blue-color;
				padding: 5px 5px;
			}
			.name {
				background-color: $gray-color;
				padding: 5px 5px;
			}
		}
	}
	
	.content {
		align-items: center;
		text-align: left;
		p {
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;
			font-size: 18px;
		}
	}
}