@import 'assets/styles/variables';
@import 'assets/styles/mixins';

	.link {
    display: flex;
    align-items: center;
    position: relative;		

		.svgWrapper {
			margin-right: clamp(-0.938rem, 0.601rem + -2.56vw, 0rem);
			width: clamp(3.75rem, 1.306rem + 10.43vw, 7.563rem);
			height: clamp(5.938rem, 1.891rem + 17.26vw, 12.25rem);
			position: relative;
			z-index: -1;

			svg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
		}

		.movieImgWrapper {
	    min-width: clamp(11.25rem, 8.606rem + 11.28vw, 15.375rem);
    	height: clamp(16.875rem, 12.869rem + 17.09vw, 23.125rem);
			border-radius: clamp(1rem, 0.84rem + 0.68vw, 1.25rem);
			background-color: #222225;
			overflow: hidden;
			position: relative;
			z-index: 2;
			will-change: transform;

			img {
				position: absolute;
				object-fit: cover;
				height: 100%;
				width: 100%;
				inset: 0px;
			}
		}
	}