@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.container {
	div:global(.slick-list) {
		min-height: clamp(13.438rem, 10.833rem + 11.11vw, 17.5rem);
		margin: 0 clamp(-2rem, -0.359rem + -2.74vw, -1rem);
		padding: 0 $indentationX;
	}
	div:global(.slick-track){
	
	}
	div:global(.slick-slide){

	}
	
}