@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.container {
	align-items: center;
	> section:first-child {
		margin: 0 clamp(-2rem, -0.359rem + -2.74vw, -1rem);
		margin-top: 92px;
		
		@include desktopXS {
			margin-top: 72px;
		}
	}
}