@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 2;
	padding: 0px $indentationX;
	height: 92px;
	transition: $transition;
	backdrop-filter: blur(5px);

	div {
		display: flex;
		align-items: center;
		gap: clamp(0.625rem, 0.385rem + 1.03vw, 1rem);
	}

	@include desktopXS {
		height: 72px;
	}

}

.up {
	height: 92px;
	transform: translateY(0px);
	@include desktopXS {
		height: 72px;
	}
}

.down {
	height: 92px;
	transform: translateY(calc(92px) * -1);
	@include desktopXS {
		height: 72px;
	}
}