@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.button {
	position: relative;
	align-items: center;
	display: flex;
	background: $gray-color;
	white-space: nowrap;
	font-size: 16px;
	padding: 13px 16px;
	border-radius: 12px;


}